# Django framework
django>=5.1.2

# Database
psycopg2>=2.9.6

# Auth0 integration
social-auth-app-django>=5.0.0
requests>=2.31.0  # Para manejar solicitudes HTTP (Auth0 API)

# Otros paquetes útiles para desarrollo
gunicorn>=20.1.0  # Para producción
