<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido a la página inicial de Ofipensiones</h1>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <p>Tu rol es: {{ role }}</p>
        <a href="{% url 'logout' %}">Logout</a>

        {% if role == 'administrador' %}
            <button onclick="location.href='{% url 'consultar_logs' %}'">Consultar Logs</button>
    
        <button onclick="location.href='{% url 'listar_reportes' %}'">Listar Reportes Actuales</button>
        {% endif %}
        


    {% else %}
        <a href="{% url 'social:begin' 'auth0' %}">Login with Auth0</a>
    {% endif %}
</body>
</html>