<!DOCTYPE html>
<html>
<head>
    <title>Modificar Recibo de Pago</title>
</head>
<body>
    <h1>Modificar Recibo de Pago</h1>
    <form id="modificarReciboForm">
        {% csrf_token %}
        <label for="institucion">Nombre de la Institución:</label>
        <input type="text" id="institucion" name="institucion" value="{{ reporte.nombreInstitucion }}"><br><br>
        
        <label for="estudiante">Nombre del Estudiante:</label>
        <input type="text" id="estudiante" name="estudiante" value="{{ reporte.nombreEstudiante }}"><br><br>
        
        <label for="mensualidad">Mensualidad:</label>
        <input type="text" id="mensualidad" name="mensualidad" value="{{ reporte.mensualidad }}"><br><br>
        
        <label for="descuento">Descuento:</label>
        <input type="text" id="descuento" name="descuento" value="{{ reporte.descuento }}"><br><br>
        
        <label for="fechaUltimaPago">Fecha Último Pago:</label>
        <input type="text" id="fechaUltimaPago" name="fechaUltimaPago" value="{{ reporte.fechaUltimaPago }}"><br><br>
        
        <input type="submit" value="Modificar">
    </form>

    <script>
        document.getElementById('modificarReciboForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);
            var data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            fetch("{% url 'actualizar_reporte' reporte.id %}", {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Reporte actualizado exitosamente');
                } else {
                    alert('Error al actualizar el reporte');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al actualizar el reporte');
            });
        });
    </script>
</body>
</html>